<section class="covers">
    <div class="container covers-container">
        <!-- <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet"> -->
        <h2 class="visually-hidden">Covers</h2>
            <ul class="covers-list">
                <li class="covers-item">
                    <picture>
                        <source 
                        srcset="
                        ../img/covers/business-onlaine-leader.webp   1x,
                        ../img/covers/business-onlaine-leader-2x.webp 2x
                        " 
                        media="(min-width: 1440px)">
                        <source 
                        srcset="
                        ../img/covers/business-onlaine-leader-tab.webp   1x,
                        ../img/covers/business-onlaine-leader-tab-2x.webp 2x
                        " 
                        media="(min-width: 768px)">
                        <source 
                        srcset="
                        ../img/covers/business-onlaine-leader-mob.webp   1x,
                        ../img/covers/business-onlaine-leader-mob-2x.webp 2x
                        " 
                        media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/business-onlaine-leader.webp" 
                        alt="business-onlaine-leader">
                    </picture>
                </li>
                <li class="covers-item">
                    <picture>
                        <source srcset="
                        ../img/covers/power-pulse-fitness.webp   1x,
                        ../img/covers/power-pulse-fitness-2x.webp 2x
                        " media="(min-width: 1440px)">
                        <source srcset="
                        ../img/covers/power-pulse-fitness-tab.webp   1x,
                        ../img/covers/power-pulse-fitness-tab-2x.webp 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                        ../img/covers/power-pulse-fitness-mob.webp   1x,
                        ../img/covers/power-pulse-fitness-mob-2x.webp 2x
                        " media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/power-pulse-fitness.webp" 
                        alt="power-pulse-fitness">
                    </picture>
                </li>
            </ul>
            <ul class="covers-list">
                <li class="covers-item">
                    <picture>
                        <source srcset="
                        ../img/covers/mimino-architecture.webp   1x,
                        ../img/covers/mimino-architecture-2x.webp 2x
                        " media="(min-width: 1440px)">
                        <source srcset="
                        ../img/covers/mimino-architecture-tab.webp   1x,
                        ../img/covers/mimino-architecture-tab-2x.webp 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                        ../img/covers/mimino-architecture-mob.webp   1x,
                        ../img/covers/mimino-architecture-mob-2x.webp 2x
                        " media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/mimino-architecture.webp" 
                        alt="mimino-architecture">
                    </picture>
                </li>
                <li class="covers-item">
                    <picture>
                        <source srcset="
                        ../img/covers/beauty-brand-nature.webp   1x,
                        ../img/covers/beauty-brand-nature-2x.webp 2x
                        " media="(min-width: 1440px)">
                        <source srcset="
                        ../img/covers/beauty-brand-nature-tab.webp   1x,
                        ../img/covers/beauty-brand-nature-tab-2x.webp 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                        ../img/covers/beauty-brand-nature-mob.webp   1x,
                        ../img/covers/beauty-brand-nature-mob-2x.webp 2x
                        " media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/beauty-brand-nature.webp" 
                        alt="beauty-brand-nature">
                    </picture>
                </li>
                <li class="covers-item">
                    <picture>
                        <source srcset="
                        ../img/covers/finance-management.webp   1x,
                        ../img/covers/finance-management-2x.webp 2x
                        " media="(min-width: 1440px)">
                        <source srcset="
                        ../img/covers/finance-management-tab.webp   1x,
                        ../img/covers/finance-management-tab-2x.webp 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                        ../img/covers/finance-management-mob.webp   1x,
                        ../img/covers/finance-management-mob-2x.webp 2x
                        " media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/finance-management.webp"
                        alt="finance-management">
                    </picture>
                </li>
            </ul>
            <ul class="covers-list">
                <li class="covers-item">
                    <picture>
                        <source srcset="
                        ../img/covers/ukrainian-art-crafts.webp   1x,
                        ../img/covers/ukrainian-art-crafts-2x.webp 2x
                        " media="(min-width: 1440px)">
                        <source srcset="
                        ../img/covers/ukrainian-art-crafts-tab.webp   1x,
                        ../img/covers/ukrainian-art-crafts-tab-2x.webp 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                        ../img/covers/ukrainian-art-crafts-mob.webp   1x,
                        ../img/covers/ukrainian-art-crafts-mob-2x.webp 2x
                        " media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/ukrainian-art-crafts.webp" 
                        alt="ukrainian-art-craftst">
                    </picture>
                </li>
                <li class="covers-item">
                    <picture>
                        <source srcset="
                        ../img/covers/organic-food-market.webp   1x,
                        ../img/covers/organic-food-market-2x.webp 2x
                        " media="(min-width: 1440px)">
                        <source srcset="
                        ../img/covers/organic-food-market-tab.webp   1x,
                        ../img/covers/organic-food-market-tab-2x.webp 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                        ../img/covers/organic-food-market-mob.webp   1x,
                        ../img/covers/organic-food-market-mob-2x.webp 2x
                        " media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/organic-food-market.webp" 
                        alt="organic-food-market">
                    </picture>
                </li>
                <li class="covers-item">
                    <picture>
                        <source srcset="
                        ../img/covers/energyflow-fitness.webp   1x,
                        ../img/covers/energyflow-fitness-2x.webp 2x
                        " media="(min-width: 1440px)">
                        <source srcset="
                        ../img/covers/energyflow-fitness-tab.webp   1x,
                        ../img/covers/energyflow-fitness-tab-2x.webp 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                        ../img/covers/energyflow-fitness-mob.webp   1x,
                        ../img/covers/energyflow-fitness-mob-2x.webp 2x
                        " media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/energyflow-fitness.webp" 
                        alt="energyflow-fitness">
                    </picture>
                </li>
            </ul>
            <ul class="covers-list">
                <li class="covers-item">
                    <picture>
                        <source srcset="
                        ../img/covers/learn-english-onlain.webp   1x,
                        ../img/covers/learn-english-onlain-2x.webp 2x
                        " media="(min-width: 1440px)">
                        <source srcset="
                        ../img/covers/learn-english-onlain-tab.webp   1x,
                        ../img/covers/learn-english-onlain-tab-2x.webp 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                        ../img/covers/learn-english-onlain-mob.webp   1x,
                        ../img/covers/learn-english-onlain-mob-2x.webp 2x
                        " media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/learn-english-onlain.webp" 
                        alt="learn-english-onlain">
                    </picture>
                </li>
                <li class="covers-item">
                    <picture>
                        <source srcset="
                        ../img/covers/fresh-harvest-fruits.webp   1x,
                        ../img/covers/fresh-harvest-fruits-2x.webp 2x
                        " media="(min-width: 1440px)">
                        <source srcset="
                        ../img/covers/fresh-harvest-fruits-tab.webp   1x,
                        ../img/covers/fresh-harvest-fruits-tab-2x.webp 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                        ../img/covers/fresh-harvest-fruits-mob.webp   1x,
                        ../img/covers/fresh-harvest-fruits-mob-2x.webp 2x
                        " media="(max-width: 767px)">
                        <img class="covers-img" 
                        src="../img/covers/fresh-harvest-fruits.webp" 
                        alt="fresh-harvest-fruits">
                    </picture>
                </li>
            </ul>
    </div>
</section>