<section id="faq" class="faq">
  <div class="container">
    <h2 class="qestion-as-asked">FAQ</h2>
    <ul class="list-qestions">
      <li class="list-qestion-item">
        <div class="topic-button">
          <h3 class="topik-qestion">
            What programming languages are most often used in your project?
          </h3>
          <svg class="icon-accordion-close" type="button">
            <use href="/img/icons.svg#icon-accordion-closesvg"></use>
          </svg>
        </div>
        <p class="questions">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="list-qestion-item">
        <div class="topic-button">
          <h3 class="topik-qestion">What are the deadlines for the project?</h3>
          <svg class="icon-accordion-close">
            <use href="/img/icons.svg#icon-accordion-closesvg"></use>
          </svg>
        </div>
        <p class="questions">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="list-qestion-item">
        <div class="topic-button">
          <h3 class="topik-qestion">What payment methods do you accept?</h3>
          <svg class="icon-accordion-close">
            <use href="/img/icons.svg#icon-accordion-closesvg"></use>
          </svg>
        </div>
        <p class="questions">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
      <li class="list-qestion-item">
        <div class="topic-button">
          <h3 class="topik-qestion">How can I contact you?</h3>
          <svg class="icon-accordion-close">
            <use href="/img/icons.svg#icon-accordion-closesvg"></use>
          </svg>
        </div>
        <p class="questions">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="list-qestion-item">
        <div class="topic-button">
          <h3 class="topik-qestion">Do you provide advice or support?</h3>
          <svg class="icon-accordion-close">
            <use href="/img/icons.svg#icon-accordion-closesvg"></use>
          </svg>
        </div>
        <p class="questions">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="list-qestion-item">
        <div class="topic-button">
          <h3 class="topik-qestion">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <svg class="icon-accordion-close">
            <use href="/img/icons.svg#icon-accordion-closesvg"></use>
          </svg>
        </div>
        <p class="questions">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
