<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="container-inner">
        <div class="logo-block">
          <a href="#">
            <picture>
              <source
                srcset="/img/header/profile-logo@2x.webp"
                media="(min-resolution: 192dpi)"
              />
              <img src="/img/header/profile-logo.webp" alt="logo" />
            </picture>
            <span>jefferson*</span>
          </a>
        </div>
        <div class="nav-block">
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-menu">Menu</a>
              <ul class="submenu">
                <li><a href="#about">About me</a></li>
                <li><a href="#benefits">Benefits</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="button-item">
          <button class="header-button" id="scroll-to-footer">
            Order the project
          </button>
          <button class="burger">
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
