<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello.
      <span class="hero-name"> I’m Fullstack developer</span>
      Lloyd Jefferson.
    </h1>
    <div class="list">
      <ul class="social-list">
        <li class="social">
          <a class="link" href="https://www.instagram.com/goitclub/" target="_blank" aria-label="Instagram">IG</a>
        </li>
        <li class="social">
          <a class="link" href="https://www.facebook.com/goITclub/" target="_blank" aria-label="Facebook">FB</a>
        </li>
        <li class="social">
          <a class="link" href="https://www.youtube.com/c/GoIT" target="_blank" aria-label="YouTube">YT</a>
        </li>
        <li class="social">
          <a class="link" href="https://github.com/Halyna79/Code-Academy?tab=readme-ov-file" target="_blank"
            aria-label="GitHub">GH</a>
        </li>
      </ul>

      <address class="hero_address">
        <ul class="email_address">
          <li class="email">
            <a class="link_email" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>
