<section class="mob-menu">
  <div class="mobile-box">
    <div class="block-navigation">
      <ul class="mob-nav">
        <li><a href="#about me">About me</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
      <a class="close" href="#">
        <svg width="28" height="28">
          <use href="/img/icons.svg#icon-x"></use>
        </svg>
      </a>
    </div>
    <button class="header-button" id="mobile-order">Order the project</button>
  </div>
</section>
