


<section class="modal-window" id="Modal-response">
    <div class="container res-window">

            <button data-close class="btn-close-res">
                <svg class="icon-close" width="22" height="22">
                    <use href="/img/icons.svg#icon-x">
                   </use>
                </svg>
            </button>  

            <p class="res-title"> 
                Thank you for your interest in cooperation!
            </p>
            <p class="res-mess"> 
                The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.
            </p>

                    
    </div>
</section>

