<section id="projects" class="projects">
    <div class="container">
        <p class="projects-title">PROJECTS</p>
<div class="swiper project-swiper">


        <div class="swiper-wrapper">
            <div class="swiper-slide wrap">
            <div class="projects-container active">
                <div class="left">
                    <div class="tags">
                        <a href="" target="_blank">#react</a>
                        <a href="" target="_blank">#js</a>
                        <a href="" target="_blank">#node js</a>
                        <a href="" target="_blank">#git</a>
                    </div>
                    <h3 class="header-project-section">
                        Programming Across Borders: Ideas, Technologies, Innovations
                    </h3>
                    <button class="btn">See project</button>
                </div>
                <div class="right">
                    
                                <div class="project-img">
                                    <picture class="picture">
                                        <img class="image-projects" src="/img/projects/book-app-project.webp"
                                            alt="book-app-project" loading="lazy" />
                                    </picture>
                                </div>

                        
                </div>
            </div>
            </div>
            <div class="swiper-slide wrap">
            <div class="projects-container">
                <div class="left">
                    <div class="tags">
                        <a href="" target="_blank">#react</a>
                        <a href="" target="_blank">#js</a>
                        <a href="" target="_blank">#node js</a>
                        <a href="" target="_blank">#git</a>
                    </div>
                    <h3 class="header-project-section">
                        Programming Across Borders: Ideas, Technologies, Innovations
                    </h3>
                    <button class="btn">See project</button>
                </div>
                <div class="right">
                    
                                <div class="project-img">
                                    <picture class="picture">
                                        <img class="image-projects" src="/img/projects/petlove-app.webp"
                                            alt="petlove-app" loading="lazy" />
                                    </picture>
                                </div>

                        
                </div>
            </div>
            </div>
            <div class="swiper-slide wrap">
            <div class="projects-container">
                <div class="left">
                    <div class="tags">
                        <a href="" target="_blank">#react</a>
                        <a href="" target="_blank">#js</a>
                        <a href="" target="_blank">#node js</a>
                        <a href="" target="_blank">#git</a>
                    </div>
                    <h3 class="header-project-section">
                        Programming Across Borders: Ideas, Technologies, Innovations
                    </h3>
                    <button class="btn">See project</button>
                </div>
                <div class="right">
                    
                                <div class="project-img">
                                    <picture class="picture">
                                        <img class="image-projects" src="/img/projects/registration-form.webp"
                                            alt="registration-form" loading="lazy" />
                                    </picture>
                                </div>

                        
                </div>
            </div>
            </div>

        </div>

        <div class="icon-arrow">
            <button class="button-swipe back active" tabindex="0">
                <svg stroke="currentColor" fill="none">
                    <use href="img/icons.svg#icon-arrow-leftsvg"></use>
                </svg>
            </button>
            <button class="button-swipe next active" tabindex="0">
                <svg stroke="currentColor" fill="none">
                    <use href="img/icons.svg#icon-arrow-rightsvg"></use>
                </svg>
            </button>
        </div>
        </div>
    </div>
</section>