<section id="projects" class="projects">
        <div class="container">
            <h2 class="projects-heading">PROJECTS</h2>
        <div class="projects-slider">
        <div class="projects-slide active">
           <div class="projects-info">
            <div class="projects-tags">
                <span class="tag">#react</span>
                <span class="tag">#js</span>
                <span class="tag">#node</span>
                <span class="tag">#git</span>
            </div>
            <h3 class="projects-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <a href="#https://github.com/Halyna79/Code-Academy" class="projects-btn">See project</a>
           </div>
           <div class="projects-preview">
            <picture>
                <source srcset="
                       /img/projects/book-app-project.webp     1x,
                       /img/projects/book-app-project-2x.webp  2x
                      " media="(min-width: 1440px)" />
                <source srcset="
                        /img/projects/book-app-project-tab.webp  1x,
                        /img/projects/book-app-project-tab-2x.webp 2x
                      " media="(min-width: 768px)" />
                <source srcset="
                       /img/projects/book-app-project-mob.webp   1x,
                       /img/projects/book-app-project-mob-2x.webp 2x
                      " media="(max-width: 767px)" />
            
                <img src="/img/projects/book-app-project.webp" alt="book-app-project" class="projects-img" />
            </picture>
           </div>
        </div>
        <div class="projects-slide">
            <div class="projects-info">
                <div class="projects-tags">
                    <span class="tag">#react</span>
                    <span class="tag">#js</span>
                    <span class="tag">#node</span>
                    <span class="tag">#git</span>
                </div>
                <h3 class="projects-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                <a href="#https://github.com/Halyna79/Code-Academy" class="projects-btn">See project</a>
            </div>
            <div class="projects-preview">
                <picture>
                    <source srcset="
                           ../img/projects/petlove-app.webp     1x,
                           ../img/projects/petlove-app-2x.webp  2x
                          " media="(min-width: 1440px)" />
                    <source srcset="
                            ../img/projects/petlove-app-tab.webp  1x,
                            ../img/projects/petlove-app-tab-2x.webp 2x
                          " media="(min-width: 768px)" />
                    <source srcset="
                           ../img/projects/petlove-app-mob.webp   1x,
                           ../img/projects/petlove-app-mob-2x.webp 2x
                          " media="(max-width: 767px)" />
        
                    <img src="../img/projects/petlove-app.webp" alt="petlove-app" class="projects-img" />
                </picture>
            </div>
        </div>
        <div class="projects-slide">
            <div class="projects-info">
                <div class="projects-tags">
                    <span class="tag">#react</span>
                    <span class="tag">#js</span>
                    <span class="tag">#node</span>
                    <span class="tag">#git</span>
                </div>
                <h3 class="projects-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                <a href="#https://github.com/Halyna79/Code-Academy" class="projects-btn">See project</a>
            </div>
            <div class="projects-preview">
                <picture>
                    <source srcset="
                               ../img/projects/registration-form.webp     1x,
                               ../img/projects/registration-form-2x.webp  2x
                              " media="(min-width: 1440px)" />
                    <source srcset="
                                ../img/projects/registration-form-tab.webp  1x,
                                ../img/projects/registration-form-tab-2x.webp 2x
                              " media="(min-width: 768px)" />
                    <source srcset="
                               ../img/projects/registration-form-mob.webp   1x,
                               ../img/projects/registration-form-2x.webp 2x
                              " media="(max-width: 767px)" />
        
                    <img src="../img/projects/registration-form.webp" alt="registration-form" class="projects-img" />
                </picture>
            </div>
        </div>
        </div>
        <div class="projects-btn-container">
        <div class="projects-slider-btn prev" tabindex="0" disabled>
            <svg class="icon" stroke="currentColor" fill="none">
                <use href="img/icons.svg#icon-arrow-leftsvg"></use>
            </svg>
        </div>
        <div class="projects-slider-btn next" tabindex="0">
            <svg class="icon" stroke="currentColor" fill="none">
                <use href="img/icons.svg#icon-arrow-rightsvg"></use>
            </svg>
        </div>
        </div>
        </div>
</section>