<section id="projects" class="projects">
    <div class="container">
        <div class="left">
            <div class="tags">
                <a href="" target="_blank">#react</a>
                <a href="" target="_blank">#js</a>
                <a href="" target="_blank">#node js</a>
                <a href="" target="_blank">#git</a>
            </div>
            <h1 class="header">
                Programming Across Borders: Ideas, Technologies, Innovations
            </h1>
            <button class="btn">See project</button>
        </div>
        <div class="right">
            <img srcset="
                    /src/img/projects/book-app-project.webp    1x,
                    /src/img/projects/book-app-project-2x.webp 2x
                  " src="/src/img/projects/book-app-project.webp" alt="book-app-project" width="614" height="385" />
        </div>
    </div>
</section>