<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">REVIEWS</h2>
        <div class="reviews-container">
            <div class="swiper reviews-can-see">
                <ul class="swiper-wrapper reviews-list"></ul>
            </div>
            <p class="reviews-error hidden">Not found</p>
            <div class="reviews-buttons-center">
                <div class="reviews-buttons-container">
                    <button class="swiper-button-prev reviews-button reviews-button-prev" tabindex="0">
                        <svg stroke="currentColor" fill="none">
                            <use href="img/icons.svg#icon-arrow-leftsvg"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-next reviews-button reviews-button-next" tabindex="0">
                        <svg stroke="currentColor" fill="none">
                            <use href="img/icons.svg#icon-arrow-rightsvg"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>