:root {
  font-family: 'Inter Tight', sans-serif;
  

  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --button-text: #ed3b44;
  --main-text: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #1c1d20;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--main-text);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3 {
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: -0.02em;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

p {
  font-weight: 500;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}