.modal-window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 16, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opasity 0.3s ease, visibility 0.3s ease;
}

.modal-window.show {
    opacity: 1;
    visibility: visible;
}


.res-window {
    width: 343px;
    height: 276px;
    background-color: #1C1D20;
    position: relative;
    padding: 64px 32px;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.btn-close-res {
    position: absolute;
    right: 25.5px;
    top: 25.5px;
    width: 22px;
    height: 22px;
    background-color: transparent;
}




.icon-close {
    stroke: #fff;
}

.res-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    padding-bottom: 16px;
}


.res-mess {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
}


@media only screen and (min-width: 768px) {

    .res-window {
        padding: 64px;
        width: 492px;
        height: 246px;
    }

    .btn-close-res {
        width: 24px;
        height: 24px;
    }


}